<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
    <div class="header-content">
      <img src="/assets/logo_menu.svg" alt="PARTILOT" class="logo-image">
    </div>
    <ion-buttons slot="end">
      <ion-button fill="clear" routerLink="/tabs/notificaciones">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-menu-button menu="main-menu" slot="end"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="home-content">
  <div class="home-container">
    
    <!-- Selector de rol (Usuario/Vendedor/Gestor) - solo opciones permitidas -->
    <div class="rol-selector" *ngIf="authService.showRoleSelector()">
      <ion-button 
        *ngIf="authService.canCliente()"
        class="rol-button active" 
        fill="clear"
        [disabled]="true">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        Usuario
      </ion-button>
      <ion-button 
        *ngIf="authService.canViewVendedor()"
        class="rol-button" 
        fill="clear"
        (click)="cambiarAVendedor()">
        <ion-icon name="bag-outline" slot="start"></ion-icon>
        Vendedor
      </ion-button>
      <ion-button 
        *ngIf="authService.canManager()"
        class="rol-button" 
        fill="clear"
        (click)="cambiarAGestor()">
        <ion-icon name="people-outline" slot="start"></ion-icon>
        Gestor
      </ion-button>
    </div>

    <!-- Bloque: ¿Primera vez aquí? -->
    <div class="home-block tutorial-block" (click)="verTutoriales()">
      <div class="block-content">
        <img src="/assets/images/play.png" alt="Tutoriales" class="block-image-large">
        <h4 style="margin:0; font-weight: 700;">¿Primera vez aqui?</h4>
        <p class="block-text">Mira nuestros tutoriales <br> y descubre lo que tiene <b>PARTILOT</b> para ti</p>
      </div>
    </div>

    <!-- Bloque: Cartera y Escaner (dos columnas) -->
    <div class="home-blocks-row">
      <div class="home-block cartera-block" (click)="irACartera()">
        <div class="block-content">
          <h3 class="block-title">Cartera</h3>
          <p class="block-description">Gestiona tus participaciones</p>
          <div class="block-illustration">
            <img src="/assets/images/cartera.png" alt="Cartera" class="illustration-image">
          </div>
        </div>
      </div>

      <div class="home-block escaner-block" (click)="irAEscaner()">
        <div class="block-content">
          <h3 class="block-title">Escaner</h3>
          <p class="block-description">Comprueba si hay premio en tus participaciones</p>
          <div class="block-illustration">
            <img src="/assets/images/escaner.png" alt="Escaner" class="illustration-image">
          </div>
        </div>
      </div>
    </div>

    <!-- Bloque: Loteria Social -->
    <div class="home-block loteria-social-block" (click)="irALoteriaSocial()">
      <div class="block-content">
        <div class="block-text-content">
          <h3 class="block-title">Loteria Social</h3>
          <p class="block-description">Adquiere participaciones de nuestras entidades colaboradoras de toda España.</p>
        </div>
        <div class="block-illustration-right">
          <img src="/assets/images/loteria_social.png" alt="Loteria Social" class="illustration-image-large">
        </div>
      </div>
    </div>

  </div>
</ion-content>
